@model LikeBotVK.Infrastructure.Web.ViewModels.Proxy.ProxyListViewModel
@{
    ViewData["Title"] = "Прокси";
    var offset = (Model!.ProxySearchViewModel!.Page - 1) * 30;
}
<div>
    <a class="btn shadow-none btn-outline-dark" asp-action="Add">Добавить</a>
</div>
<div class="table-responsive pt-2">
    <table class="table table-sm table-hover table-bordered table-striped table-condensed text-center align-middle">
        <thead class="align-middle">
        <tr>
            <th rowspan="2" scope="col">№</th>
            <th scope="col">Адресс</th>
            <th scope="col">Порт</th>
            <th rowspan="2" scope="col">Логин</th>
            <th rowspan="2" scope="col">Пароль</th>
            <th rowspan="2" scope="col">Действия</th>
        </tr>

        <tr>
            <form asp-action="Index" method="get" class="form-horizontal" id="filter">
                <th scope="col">
                    <input asp-for="ProxySearchViewModel!.Host" asp-placeholder-for="ProxySearchViewModel!.Host" class="form-control auto-submit"/>
                    <span asp-validation-for="ProxySearchViewModel!.Host"></span>
                </th>
                <th scope="col">
                    <input asp-for="ProxySearchViewModel!.Port" asp-placeholder-for="ProxySearchViewModel!.Port" class="form-control auto-submit"/>
                    <span asp-validation-for="ProxySearchViewModel!.Port"></span>
                </th>
            </form>
        </tr>

        </thead>
        <tbody class="align-middle">
        @for (var i = 0; i < Model!.Proxies?.Count; i++)
        {
            <tr>
                <th scope="row">@(i + 1 + offset)</th>
                <td>@Model.Proxies[i].Host</td>
                <td>@Model.Proxies[i].Port</td>
                <td>@Model.Proxies[i].Login</td>
                <td>@Model.Proxies[i].Password</td>
                <td>
                    <a class="action" asp-action="Delete" asp-route-id="@Model.Proxies[i].Id">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                        </svg>
                    </a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>


<nav>
    <ul class="pagination">
        @if (Model.ProxySearchViewModel!.Page != 1)
        {
            if (Model.ProxySearchViewModel.Page > 2)
            {
                <li class="page-item">
                    <input type="submit" class="page-link shadow-none" autocomplete="off" asp-for="ProxySearchViewModel!.Page" value="1" form="filter">
                </li>
            }
            <li class="page-item">
                <input type="submit" class="d-none" id="btnPrevious" autocomplete="off" asp-for="ProxySearchViewModel!.Page" value="@(Model.ProxySearchViewModel.Page - 1)" form="filter">
                <label for="btnPrevious" class="page-link" style="cursor: pointer">
                    <span aria-hidden="true">&laquo;</span>
                </label>
            </li>
            <li class="page-item">
                <input type="submit" class="page-link shadow-none" autocomplete="off" asp-for="ProxySearchViewModel!.Page" value="@(Model.ProxySearchViewModel.Page - 1)" form="filter">
            </li>
        }
        <li class="page-item active">
            <input type="submit" class="page-link shadow-none" autocomplete="off" asp-for="ProxySearchViewModel!.Page" value="@Model.ProxySearchViewModel.Page" form="filter" disabled>
        </li>
        @if (offset + 30 < Model.Count)
        {
            <li class="page-item">
                <input type="submit" class="page-link shadow-none" autocomplete="off" asp-for="ProxySearchViewModel!.Page" value="@(Model.ProxySearchViewModel.Page + 1)" form="filter">
            </li>
            <li class="page-item">
                <input type="submit" class="d-none" autocomplete="off" asp-for="ProxySearchViewModel!.Page" id="btnNext" value="@(Model.ProxySearchViewModel.Page + 1)" form="filter">
                <label for="btnNext" class="page-link" style="cursor: pointer">
                    <span aria-hidden="true">&raquo;</span>
                </label>
            </li>
        }
    </ul>
</nav>

@section scripts {
    <script src="~/js/autoSubmit.js"></script>
}